{% extends '@admin/layout.twig' %}

{% block title "Editer \"#{item.name}\"" %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path(routePrefix ~ '.index') }}" class="tooltip" data-tooltip="Blog">Blog</a>
    </li>
    <li class="breadcrumb-item">
        Editer: <a href="{{ path(routePrefix ~ '.edit', {id: item.id}) }}" class="tooltip" data-tooltip="{{ block('title') }}">{{ item.name }}</a>
    </li>
{% endblock %}

{% block content %}

    <div class="container">

        <form action="{{ path(routePrefix ~ '.edit', {id: item.id}) }}" method="post" enctype="multipart/form-data">
            {{ include(viewPath ~ '/blocks/form.twig') }}
            <input type="hidden" name="_method" value="PATCH">
            <button class="btn btn-primary mt-2 float-right" type="submit">Enregistrer</button>
        </form>

    </div>

{% endblock %}
