<div class="columns">
    {{ field(
        'name',
        'Titre de l\'article',
        item.name,
        {
            placeholder: 'Faire des pommes sautées',
            wrapper_classes: ['column', 'col-4', 'col-sm-12'],
        }
    ) }}
    {{ field(
        'category_id',
        'Catégorie',
        item.categoryId,
        {
            type: 'select',
            select_options: categories,
            wrapper_classes: ['column', 'col-4', 'col-sm-12'],
        }
    ) }}
    {{ field(
        'slug',
        'URI l\'article',
        item.slug,
        {
            placeholder: 'recette-de-pomme-de-terre',
            wrapper_classes: ['column', 'col-4', 'col-sm-12'],
        }
    ) }}
    <div class="column col-4 col-sm-12">
        {% if item.image %}
            <img src="{{ item.thumbnail }}" alt="Image de l'article">
        {% endif %}
    </div>
    {{ field(
        'image',
        'Miniature',
        null,
        {
            type: 'file',
            attributes: {
            accept: 'image/*'
        },
            wrapper_classes: ['column', 'col-4', 'col-sm-12'],
        }
    ) }}
    {{ field(
        'private',
        'Article privé',
        item.private,
        {
            type: 'checkbox',
            lever: true,
            wrapper_classes: ['column', 'col-4', 'col-sm-12'],
        }
    ) }}
    {{ field(
        'content',
        'Contenu',
        item.content,
        {
            type: 'textarea',
            attributes: {
            rows: 15
        },
            placeholder: 'Pour faire de pomme sautées...',
            wrapper_classes: ['column', 'col-12'],
        }
    ) }}
    {{ field(
        'created_at',
        'Date de création',
        item.createdAt,
        {
            input_classes: ['datepicker'],
            wrapper_classes: ['column', 'col-12'],
        }
    ) }}
    {{ csrf_input() }}
</div>