{% extends '@admin/layout.twig' %}

{% block title "Ecrire un article" %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('blog.admin.index') }}" class="tooltip" data-tooltip="Blog">Blog</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path(route) }}" class="tooltip" data-tooltip="{{ block('title') }}">{{ block('title') }}</a>
    </li>
{% endblock %}

{% block content %}

    <div class="container">

        <form action="{{ path('blog.admin.create') }}" method="post">
            {{ include('@blog/admin/blocks/form.twig') }}
            <button class="btn btn-primary mt-2 float-right" type="submit">Créer</button>
        </form>

    </div>

{% endblock %}
