{% extends 'layout.twig' %}

{% block title 'Catégorie "' ~ category.name ~ '"' %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('blog.index') }}" class="tooltip" data-tooltip="Le Blog">Le Blog</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path('blog.category', {slug: category.slug}) }}" class="tooltip" data-tooltip="{{ block('title') }}">{{ block('title') }}</a>: Page {{ page??1 }}
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="columns">

            <div class="column col-10 col-xl-9 col-md-8 col-sm-12">
                <div class="columns">
                    {% for post in posts %}
                        <div class="column col-4 col-xm-12">
                            <div class="card">
                                {% if post.image is not null %}
                                    <div class="card-image">
                                        <img src="{{ post.thumbnail }}" class="img-responsive">
                                    </div>
                                {% endif %}
                                <div class="card-header">
                                    <div class="card-title h5">
                                        <a href="{{ path('blog.show', {id: post.id, slug: post.slug}) }}">
                                            {{ post.name }}
                                        </a>
                                    </div>
                                    {% if post.category_name is not null %}
                                        <a href="{{ path('blog.category', {slug: post.categorySlug}) }}" class="card-subtitle text-gray">{{ post.categoryName }}</a>
                                    {% endif %}
                                    <div class="card-subtitle text-gray">{{ post.createdAt | ago }}</div>
                                </div>
                                <div class="card-body">
                                    {{ post.content | excerpt(120) | nl2br }}
                                </div>
                                <div class="card-footer">
                                    <a href="{{ path('blog.show', {slug: post.slug, id: post.id}) }}" class="btn btn-outline-secondary float-right">Voir</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="column col-2 col-xl-3 col-md-4 hide-sm">
                <ul class="menu">
                    <li class="divider" data-content="Raccourcis"></li>
                    <li class="menu-item">
                        <a href="{{ path('blog.index') }}">Acceuil</a>
                    </li>
                    <li class="divider" data-content="Catégories"></li>
                    {% for c in categories %}
                        <li class="menu-item">
                            <a {% if c.id == category.id %}class="active"{% endif %} href="{{ path('blog.category', {slug: c.slug}) }}">{{ c.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="column col-12 flex-centered mt-2">
                {{ paginate(posts, 'blog.category', {slug: category.slug}) }}
            </div>

        </div>
    </div>

{% endblock %}
