{% extends 'layout.twig' %}

{% block title post.name %}

{% block head %}
    <h1 class="mb-1">{{ block('title') }}</h1>
    <div class="text-gray mb-4">
        <a href="{{ path('blog.category', {slug: post.categorySlug}) }}">{{ post.categoryName }}</a> - {{ post.createdAt | ago }}
    </div>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('blog.index') }}" class="tooltip" data-tooltip="Le Blog">Le Blog</a>
    </li>
    <li class="breadcrumb-item">
        <a href="" class="tooltip" data-tooltip="{{ block('title') }}">{{ block('title') }}</a>
    </li>
{% endblock %}

{% block content %}

    <div class="container">
        {% if post.image is not null %}
            <p>
                <img src="{{ post.imageUrl }}" class="img-responsive" style="width: 100%;">
            </p>
        {% endif %}
        <p>
            {{ post.content | nl2br }}
        </p>
    </div>

{% endblock %}
